<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>layout08</title>
	<style>
		

	</style>













</head>
<body>
	<div id="warp">
		<div id="header">
			<div id="header-top">
				<div class="container">header-top</div>
			</div>
			<div id="header-nav">
				<div class="container">header-nav</div>
			</div>
		</div>

		<div id="banner">
			<div class="container">banner</div>
		</div>

		<div id="content">
			<div id="content1">
				<div class="container">content1</div>
			</div>
			<div id="content2">
				<div class="container">content2</div>
			</div>
			<div id="content3">
				<div class="container">content3</div>
			</div>

			<div id="footer">
				<div id="footer-nav">
					<div class="container">footer-nav</div>	
				</div>
				<div id="footer-info">
					<div class="container">footer-info</div>
				</div>
			</div>

		</div>
		





	</div>
	
</body>
</html>